* {
  cursor: url(https://cdn.glitch.global/f3c2bf58-1ef7-4e9c-94c0-d39732fbff85/20.png?v=1671659419848),
  auto;
}

body {
    background-color: #171616;
  }
  
  p{
    font-family: "Menlo", monospace;
    color: white;
    display: block;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -15px;
  }

  

  a{
    font-family: "Menlo", monospace;
    color: white;
    display: block;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: -15px;
  }

  .file {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }
  
  img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
  }
  
  .container {
    position: absolute;
  }
  
  .column {
    float: left;
    
  }
  
  .left {
    width: 10%;
 
  }
  
  #lab_test {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:100%;
    top: 10px;
  }
  
  #lab_folder {
    top: 10px;
    font-size: 16px;
    
  }
  
  #file_one {
   margin-top: 30px;
    
  }

  #file_two {
    position: relative;
    font-size: 16px; 
  }

  #file_three {
    position: relative;
    font-size: 16px; 
  }

  #file_four {
    position: relative;
    font-size: 16px; 
  }

  #file_five {
    position: relative;
    font-size: 16px; 
  }
  
#trash_can {
position: relative;
top: 500px;
}

.cow {
  position: absolute;
}
  
  .right {
    width: 10%;
    left:90%; 
  }
  

  .middle {
    margin-top: 4%;
    width: 80%;
    
  }
  
.bottom {
  position: absolute;
  width: 98%;
  height: 20px;
  bottom: 0%;
  background-color: white;
}

    