body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 245, 246);
    
}

@font-face {
  font-family: Monument Grotesk Regular; /* set name */
  src: url(/fonts/ABCMonumentGrotesk-Regular-Trial.woff); /* url of the font */
}

img {
    width: 400px;
}

video {
  width: 100%;
}

.navbar {
    position: fixed;
    bottom: 4%;
    display: grid;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 50px;
    font-family: 'Monument Grotesk Regular';
  }
  
.navbar a {
    color: #0009b8;
    /* mix-blend-mode: difference; */
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size: 12px;
    z-index: 11;
  }

#play:hover {
    color: #0009b8;
    mix-blend-mode: difference;
    text-align: center;
    padding: 30px 25px;
    transition: color 0.7s ease;
  }

#select:hover {
    color: #0009b846;
    text-align: center;
    padding: 30px 25px;
    transition: color 0.7s ease;
}

#bonus:hover {
    color: #0009b846;
    text-align: center;
    padding: 30px 25px;
    transition: color 0.7s ease;
}

#synopsis:hover {
    color: #0009b846;
    text-align: center;
    padding: 30px 25px;
    transition: color 0.5s ease;
}

.longway {
  position: relative;
  width: 100%;
  height: max-content;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center; 
  align-items: center;
  display: grid;
  padding-top: 10px;
  /* padding-left: 20%;
  padding-right: 20%; */
} 

.inertia {
  position: relative;
  width: 500px;
}

.shapeshifter {
  position: relative;
  width: 500px;
}

.black_dada {
  position: relative;
  width: 500px;
}

.txt_books {
  position: relative;
  width: 500px;
}

.box {
  position: fixed;
    background: #0009b8;
    border-radius: 4px;
    box-shadow:  0px 0px 10px 10px #0009b8;
  width: 90%;
  height: 82%;
  z-index: 777;
  margin: 0;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.left { 
  grid-area: 1 / 1 / 2 / 2; 
  overflow: auto;
  color: whitesmoke;
  font-family: 'Monument Grotesk Regular';
}

.left img {
max-width: min-content;
max-height: min-content;
}

.right { 
  grid-area: 1 / 2 / 2 / 3; 
  margin: 10px;
  color: whitesmoke;
  font-family: 'Monument Grotesk Regular';
  overflow: auto;
  position: relative;
}

.x {
  position: absolute;
  color:rgb(184, 208, 229);
  font-family: 'Monument Grotesk Regular';
  width: 25px;
  top: 5px;
  right: 5px;
  z-index: 77777;
  font-size: 30px;
}

.x:hover {
  color: rgba(184, 208, 229, 0.379);
  transition: color 0.3s ease;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  display: none; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none; 
}

/* .mask1 {
  -webkit-mask-image: url(mask_screen.svg);
  mask-image: url(mask_screen.svg) 10px;
  mask-repeat: no-repeat;  
  mask-position: center; 
  mask-size: 300px;
  z-index: 1;
  background-color: pink;
} */

/* @media screen and (max-width: 837px) {
body {
    background-color: pink;
  }
} */