body {
    background-color:blue;
    padding: 10px;
}

p {
    background-color: white;
}

h2 {
    position: absolute;
    top: 93%;
    left:25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 21px;
    color: black;
    font-weight: bold;
    background: linear-gradient(80deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    margin: auto;
    
  }
  
  h2:hover {
    color: transparent;
    transition: 500ms ease;
  }
  
  #body {
    font-size: 2em;
    display: flex;
    height: 100vh;
    align-items: center;
  }
  
  

.header {
    position: absolute;
    
}

#logo {
    height: 1000px;
}

img {
    position: relative;
    width: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
    position: relative;
    
}

a {
    background-color: whitesmoke;
    color: black;
    transition: background-color 0.5s;
}
  
a:hover {
    background-color: blue;
    color: whitesmoke;
  }

#about {
    text-align: center;
    
}

#lab {
    text-align: center;
}

#pro {
    text-align: center;
}

.me {
    position: absolute;
}
#sticker {
    position: absolute;
    left: 80px;
    z-index: 777;
}

#pic {
    position: absolute;
    z-index: -17
}


.container {
    position: absolute;
    right: 10%;
    top: 10%;
    
}

#about #lab #projects {
    background-color: white;
}

#myVideo {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }

#navigation {
position: absolute;


}

