* {
    box-sizing: border-box;
    padding: 0.5%;

}

body {
    background-color: whitesmoke;
    /* background: radial-gradient(#B0D8A4 30%, #FEE191, #E84258 80%); */
}

img {
    width: 100%;
    height: 100%;
    padding: 5%;
}

button {
    position: relative;
    background-color: whitesmoke;
    width: 211px;
    
}

.star {
    position: relative;
    text-align: right;
    font-size: 100px;
    font-family: Arial, sans-serif;
    bottom: 100px;
    

}


.header {
    position: relative;
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    z-index: 66666;
    font-style: normal;
    font-weight: 700;
    margin-top: -10px;
    font-size: 40px;
    text-align: left;
    text-transform: uppercase;
}

@font-face{
    font-family: 'pp_neuebitbold';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
    url('ppneuebit-bold-webfont.woff') format('woff'),
    url('ppneuebit-bold-webfont.woff2') format('woff2'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
    }

/* star header + bottom */
h4 { 
    font-family: ppmondwest-regular, Arial, sans-serif;
    font-family: PP Mondwest, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    
}

.top {
    position:relative;
    bottom: 23px;
    text-align: center;
    z-index: 777777777;
}

.bottom {
    position: absolute;
    text-align: center;
    margin-left: 10px;
    z-index: 77;
    color: rgb(0, 0, 0);
    top: 89.5%; 
 }

 .bottom_under {
    position: absolute;
    text-align: center;
    margin-left: 11.5px;
    z-index: 7;
    color: rgb(0, 0, 0);
    top: 89.6%;
    background-color: #aaa(148, 100, 100);
    height: 40px;

} 

/* card */

  .hover {
    position: absolute;
    background-color: whitesmoke;
    height: 100%;
    width: 208px;
    z-index: 7777;
    margin: -1.5px;
}  

.hover:hover {
    transition: background-color 0.5s ease-in-out;
    opacity: 0;
}

 .cut {
    position: absolute;
    bottom: -0.5%;
    left: 1px;
    width: 210px;
    height: 290px;
    clip-path: polygon(100% 100%, 50% 100%, 100% 75%);
    background-color: black;
    z-index: 999;
} 

.fold {
    position: absolute;
    width: 212px;
    height: 299px;
    background-color: rgb(225, 225, 235); /*green*/
    clip-path: polygon(40% 77%, 52% 98%, 100% 75%);
    bottom: -1.8%;
    left: -5px;
    z-index: 999;
}

h1 {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    bottom: 70px;
    position: relative;
    z-index: 66666;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 23px;
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
    
}

/* address */
h2 {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 7px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    bottom: 83px;
    z-index: 777777;
    align-items: center;
} 



p {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 0.1px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    z-index: 7777777;
}

h5 {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    z-index: 7777777;
}

h3 {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 1px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    z-index: 7777777;
    text-align: left;
    -webkit-text-stroke: 0.50px black;   
}


#critContainer {
position: absolute;
top: 5%;
color: black;
font-family: ppneuebit-bold, Arial, sans-serif;
}

#violationContainer {
    position: absolute;
    text-transform: uppercase;
    text-align: right;
    font-family: ppneuebit-bold, Arial, sans-serif;
    top: 0%;
    color: black;
    font-size: 50px;
}

.five {
    position: relative;
    bottom: 160px;
  }

.three {
    position: relative;
    bottom: 150px;
}

.four {
    position: relative;
    bottom: 180px;
}



.date {
    position: relative;
    text-align: left;
    margin: 15px;
    bottom: 90px;
}

.bin {
    position: relative;
    text-align: left;
    margin: 15px;
    bottom: 110px;
    line-height: 0.3px;
}

.relative {
    position: relative;
    bottom: 140px;
}

.cost {
    position: absolute;
}

.end {
    position: absolute;
    margin: 15px;
    bottom: 10%;
    margin-top: 3%;
    text-align: left;
    width: 90px;
}
.critical {
    text-align: right;
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    margin: 15px;
    z-index: 7777777;
    left: 145px;
    width: 30px;
    
}

.cost_2 {
    text-align: left;
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    margin: 15px;
    z-index: 7777777;
    left: 50px;
    top: 5px;
    text-align: right;
}


.noncritical {
    text-align: left;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    margin: 15px;
    z-index: 7777777;
    bottom: 53px;
}

.inspection {
    text-align: left;
    margin: 15px;
    bottom: 128px;
    position: relative;
}

.box {
    position: absolute;
    z-index: 4444;
}

.tax {
    text-align: left;
    margin-left: 15px;
    bottom: 90px;
    position: relative;
}

.column {
    float: left;
    padding: 15px;  
    flex: initial;
    z-index: -77777777777;
}
  
.left {
    width: 50%;
    height:780px;
    background-color: black;
    /* background: radial-gradient(#B0D8A4 30%, #FEE191, #E84258 80%); */
    overflow-y: auto;
    
}

.ratio {
    position: relative;
}

.middle {
    width: 40%;

}
  
.right {
    width: 10%;
    background-color:#ccc;
    height:700px;
    /* background: radial-gradient(#B0D8A4 30%, #FEE191, #E84258 80%); */
}

.machines {
    position: relative;
    width: fit-content
}
svg {
    width: 100%;
    height: 100%;
}

.smoke {
    position: relative;
    bottom: 150px;
    left: 70px;
    width: 200px;
    height: 200px;
    animation: moveUp 1s infinite ;
    transform-origin: center;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}

pre {
    font-size: 130px;
    opacity: 40%;
    position: relative;
    left: 30px;
    font-family: ppneuebit-bold, Arial, sans-serif;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 211px); /* 3 columns with equal width */
    /*grid-template-rows: minmax(351px, auto);  2 rows with fixed height of 100px */
    /* grid-template-rows: repeat(26, 351px); /* 2 rows with fixed height of 100px */
    gap: 10px; /* gap between grid items */
  }
  
  .grid-item {
    height: fit-content;
    position: relative;
    box-shadow: -1px -2px 2px 0px #04063940;
    background-color: whitesmoke; /* adjust background color as needed */
  }

@font-face {
    font-family: 'ppmondwest-regular';
    src: url('ppmondwest-regular-webfont.woff2') format('woff2'),
         url('ppmondwest-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.background {
    position: absolute;
    z-index: -9999999999999999;
    bottom: -100px;

}

.reveal {
    
    width: 100px;
    align-items: right;
    left: 89.5%;
    top: -5%;
    
    
}

.question {
    width: 100px;
    left: 89.5%;
    top: -5%;
    position: absolute;
    background-color: whitesmoke;
    z-index: 77777777777777777777;
}

.question:hover {
    position: absolute;
    top: -10%;
    z-index: 77777777777777777777;
}

.text {
    width: 100px;
    left: 89.5%;
    top: 189px;
    position: absolute;
    background-color: whitesmoke;
    
}
  



