* {
    box-sizing: border-box;
    padding: 0.5%;

}

body {
    background-color: rgb(207, 213, 216);
}

img {
    width: 100%;
    height: 100%;
    padding: 5%;
}

button {
    position: relative;
    background-color: whitesmoke;
    
}

.header {
    position: relative;
    background-color: whitesmoke;
    padding: 1%;
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    position: relative;
    z-index: 66666;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}

@font-face{
    font-family: 'pp_neuebitbold';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
    url('ppneuebit-bold-webfont.woff') format('woff'),
    url('ppneuebit-bold-webfont.woff2') format('woff2'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
    }

/* star header + bottom */
h4 { 
    font-family: ppmondwest-regular, Arial, sans-serif;
    font-family: PP Mondwest, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    
}

.top {
    position:relative;
    bottom: 20px;
    text-align: center;
    z-index: 777777777;
}

.bottom {
    position: relative;
    top: -20%;
    z-index: 7;

}

#bottom_hover {
    position: relative;
    bottom: 100%;
    z-index: 80;
    color: red;
}

/* card */

.hover {
    position: absolute;
    background-color: whitesmoke;
    height: 100%;
    width: 211px;
    z-index: 7777;
    color: black;
}

.hover:hover {
    position: absolute;
    transition: background-color 0.5s ease-in-out;
    opacity: 0;
}

.cut {
    position: absolute;
    bottom: -0.7%;
    left: 2px;
    width: 210px;
    height: 300px;
    clip-path: polygon(100% 100%, 50% 100%, 100% 75%);
    background-color: #aaa;
    overflow: clip;
    z-index: 777;
}

.fold {
    position: absolute;
    width: 212px;
    height: 300px;
    background-color: rgb(225, 225, 235); /*green*/
    clip-path: polygon(40% 77%, 51% 99.5%, 100% 75%);
    bottom: -0.5%;
    z-index: 999;
}

.base {
    position: absolute;
}

h1 {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    bottom: 65px;
    position: relative;
    z-index: 66666;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 23px;
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
    
}

/* address */
h2 {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 7px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    bottom: 75px;
    z-index: 777777;
    align-items: center;
} 



p {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    z-index: 7777777;

}

.date {
    position: relative;
    text-align: left;
    margin: 15px;
    bottom: 80px;
}

 h3 {
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    z-index: 7777777;
    text-align: left;
    -webkit-text-stroke: 0.5px black; 
    
}

.relative {
    position: relative;
    bottom: 140px;
}

.cost {
    position: absolute;
}

.critical {
    text-align: left;
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    margin: 15px;
    z-index: 7777777;
    left: 50px;
    top: 29px;
    text-align: right;
}

.cost_2 {
    text-align: left;
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    margin: 15px;
    z-index: 7777777;
    left: 50px;
    top: 5px;
    text-align: right;
}


.noncritical {
    text-align: left;
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 30px !important;
    text-transform: uppercase;
    position: relative;
    margin: 15px;
    z-index: 7777777;
    bottom: 85px;
    width: 100px;
    height: 100px;
}

.inspection {
    text-align: left;
    margin: 15px;
    bottom: 60px;
}



.sale {
    position: absolute;
    margin-left: 15px;
    z-index: 77788888; 
    color: black;
    font-family: ppneuebit-bold, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px black;  
}

.tip {
    position: absolute;
    bottom: 125px;
    margin-left: 15px;
    z-index: 77788888;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.thank {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 75.4%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: absolute;
    z-index: 77788888;
    margin-left: 15px;
    bottom: 3px;
}

.column {
    float: left;
    padding: 15px;  
    flex: initial;
    z-index: -77777777777;
}
  
.left {
    width: 50%;
    height:800px;
    background-color:#aaa;
    overflow-y: auto;
    
}

.middle {
    width: 40%;
    background-color: #bbb;
}
  
.right {
    width: 10%;
    background-color:#ccc;
    background: radial-gradient(#B0D8A4 30%, #FEE191, #E84258 80%);
}

svg {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 211px); /* 3 columns with equal width */
    /*grid-template-rows: minmax(351px, auto);  2 rows with fixed height of 100px */
    /* grid-template-rows: repeat(26, 351px); /* 2 rows with fixed height of 100px */
    gap: 10px; /* gap between grid items */
    overflow-y: auto;
  }
  
  .grid-item {
    height: fit-content;
    position: relative;
    box-shadow: -1px -2px 2px 0px #04063940;
    background-color: whitesmoke; /* adjust background color as needed */
  }

@font-face {
    font-family: 'ppmondwest-regular';
    src: url('ppmondwest-regular-webfont.woff2') format('woff2'),
         url('ppmondwest-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



