body{
    background-color: white;
    padding: 0;
    margin: 0;
}

#myVideo {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -777;
  }

.container {
    position: absolute;
    top: 290px;
    right: 41%;
    
}
#directions {
    width: 300px;
    left: 10px;
    transform: rotate(-2deg);
}

.title {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    text-align: center;
    width: 430px;
    left: 20px;
    rotate: -1.2deg;
    position: relative;
} 

.author {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    text-align: center;
    width: 150px;
    left: 280px;
    top: -10px;
    rotate: 1.1deg;
    position: relative; 
}

p {
    font-size: 25px;
    color: rgb(12, 18, 30)
    
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 100px auto 0px auto;
    position: relative;
    bottom: -100px;
    top: -50px;
    

}

.watch {
    position:relative;
    bottom: 150px;
    right: 75px;
    
}

img {
    width: 150%;
    
}
.center{
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top:  calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}
.hourHand{
    width: 2px;
    height: 75px;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 75px;
    left: 150px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(360deg);

}
.minuteHand{
    width: 2px;
    height: 120px;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 150px;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(90deg);

}
.secondHand{
    width: 2px;
    height: 120px;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 150px;
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: 8;  
      transform: rotate(360deg);

}

.clock ul{
    list-style: none;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.clock ul li{
    position: absolute;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    color: black;
}
.clock ul li:nth-child(1){
    left: 19%;
    top:97%;
    font-size: 70px;
    transform:rotate(210deg);
    opacity: 0;
}
.clock ul li:nth-child(2){
    left: 3%;
    top:85%;
    font-size: 68px;
    transform:rotate(240deg);
    opacity: 0;
}

.clock ul li:nth-child(3){
    left: 12%;
    top:calc(55% - 10px);
    color:#000;
    font-size: 50px;
    transform:rotate(285deg);
    opacity: 0;
}
.clock ul li:nth-child(4){
   left: 15%;
    top:11%;
    font-size: 48px;
    transform:rotate(280deg);
    opacity: 0;
}
.clock ul li:nth-child(5){
    left: 19%;
    top:-22%;
    font-size: 65px;
    transform:rotate(325deg);
    opacity: 0;
    
}
.clock ul li:nth-child(6){
    right: calc(55% - 10px);
    top:-25%;
    color:#000;
    font-size: 58px;
    transform:rotate(350deg);
    opacity: 0;
}
.clock ul li:nth-child(7){
    right: 32%;
    top:-10%;
    width: 10px;
    transform:rotate(29deg);
    font-size: 50px;
    opacity: 0;
    
}
.clock ul li:nth-child(8){
    right: 8%;
    top:10%;
    font-size: 60px;
    transform:rotate(56deg);
    opacity: 0;
}
.clock ul li:nth-child(9){
    right: 3%;
    top:calc(40% - 10px);
    color:#000;
    font-size: 58px;
    transform:rotate(80deg);
    opacity: 0;
}
.clock ul li:nth-child(10){
    right: 11%;
    top:67%;
    font-size: 50px;
    transform:rotate(110deg);
    opacity: 0;
}
.clock ul li:nth-child(11){
    right: 22%;
    top:90%;
    font-size: 57px;
    transform:rotate(143deg);
    opacity: 0;
}
.clock ul li:nth-child(12){
    right: calc(47% - 10px);
    top:calc(100% - 20px);
    color:#000;
    font-size: 50px;
    transform:rotate(172deg);
    opacity: 0;
}

a {
  color:#000;
}