body{
    background-color: white;
    padding: 0;
    margin: 0;
}

#myVideo {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -777;
  }

.container {
    position: absolute;
    top: 290px;
    right: 41%;
    
}
#directions {
    width: 300px;
    left: 10px;
    transform: rotate(-2deg);
}

.title {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    text-align: center;
    width: 430px;
    left: 20px;
    rotate: -1.2deg;
    position: relative;
} 

.author {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    text-align: center;
    width: 150px;
    left: 280px;
    top: -10px;
    rotate: 1.1deg;
    position: relative; 
}

p {
    font-size: 25px;
    color: rgb(12, 18, 30)
    
}

.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 100px auto 0px auto;
    position: relative;
    bottom: -100px;
    top: -50px;
    

}

.watch {
    position:relative;
    bottom: 220px;
    right: 65px;
    
}

img {
    width: 150%;
    
}
.center{
    background-color: #000;
    position: absolute;
    left: calc(50% - 10px);
    top:  calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}
.hourHand{
    width: 2px;
    height: 75px;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 75px;
    left: 150px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(360deg);

}
.minuteHand{
    width: 2px;
    height: 120px;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 150px;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(90deg);

}
.secondHand{
    width: 2px;
    height: 120px;
    background-color: black;
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 150px;
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: 8;  
      transform: rotate(360deg);

}

.clock ul{
    list-style: none;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.clock ul li{
    position: absolute;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    color: blue;
}
.clock ul li:nth-child(1){
    right: 33%;
    top:-4%;
    width: 10px;
    transform:rotate(23deg);
    font-size: 45px;
    opacity: 0;
    
}
.clock ul li:nth-child(2){
    right: 13%;
    top:14%;
    font-size: 35px;
    transform:rotate(44deg);
    opacity: 0;
}

.clock ul li:nth-child(3){
    right: -7%;
    top:calc(43% - 10px);
    color:#000;
    font-size: 38px;
    transform:rotate(70deg);
    opacity: 0;  
}
.clock ul li:nth-child(4){
    right: -18%;
    top:74%;
    font-size: 38px;
    transform:rotate(90deg);
    opacity: 0;
}
.clock ul li:nth-child(5){
    right: -11%;
    top:116%;
    font-size: 50px;
    transform:rotate(165deg);
    opacity: 0;
}
.clock ul li:nth-child(6){
    right: calc(30% - 10px);
    top:calc(112% - 20px);
    color:#000;
    font-size: 45px;
    transform:rotate(200deg);
    opacity: 0;
}
.clock ul li:nth-child(7){
    left: 37%;
    top:87%;
    font-size: 37px;
    transform:rotate(220deg);
    opacity: 0;
}
.clock ul li:nth-child(8){
    left: 16%;
    top:67%;
    font-size: 34px;
    transform:rotate(232deg);
    opacity: 0;
}
.clock ul li:nth-child(9){
    left: -1%;
    top:calc(50% - 10px);
    color:#000;
    font-size: 44px;
    transform:rotate(258deg);
    opacity: 0;
}
.clock ul li:nth-child(10){
    left: 4%;
    top:22%;
    font-size: 44px;
    transform:rotate(300deg);
    opacity: 0;
}
.clock ul li:nth-child(11){
    left: 18%;
    top:1%;
    font-size: 44px;
    transform:rotate(327deg);
    opacity: 0;
}
.clock ul li:nth-child(12){
    right: calc(58% - 10px);
    top:-10%;
    color:#000;
    font-size: 43px;
    opacity: 0;
}

a {
  color:blue;
}