body {
    background: #171616;
    cursor: url(https://cdn.glitch.global/f3c2bf58-1ef7-4e9c-94c0-d39732fbff85/20.png?v=1671659419848),
    auto;
  }
  
  h1{
    font-family: "Menlo", monospace;
    font-size: 100px;
    padding-left: 3%;
    color: #4BB851;
  }
  
  h2{
    font-family: "Menlo", monospace;
    color: white;
    padding-left: 3%;
    font-size:30px;
    font-weight: thin;
  }
  
  p{
    font-family: "Menlo", monospace;
    padding-left: 3%;
    padding-bottom: 5%;
    line-height: 25px;
    color: #4BB851;
    
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }