body {
    background-color: #1b1b19;
    margin: 10px;
}

h6 {
    color: white;
}

p {
    color: white;
}
.container {
    font-family: forma-djr-banner, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 100px;
    position: absolute;

}
.right {
    position: absolute;
    right: 0%;
    bottom: 0px;
    font-family: forma-djr-banner, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-right: 10px;
}

.left {
    position: absolute;
    left: 10px;
    bottom: 0px;
    font-family: forma-djr-banner, sans-serif;
    font-weight: 300;
    font-style: normal;
    

}

.middle {
    font-family: forma-djr-banner, sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    bottom: 0px;
    left: 46.5%;

}

.center {
    position: absolute;
    align-items: center;
    right: 50%;
    max-width: 100%;
    top: 30px;
}

#bottom {
    position: absolute;
    bottom: -60px;
    line-height: 80px;
}


#box {
    width: 253px;
    height: 190px;
    background: radial-gradient(#c9ca81, #518751,#234331);
    position: absolute;
    left: 75%;
    top: 245px;
    z-index: 777;

}

#box:hover {
    width: 0px;
    height:0px;
}

#top {
    font: forma-djr-banner, sans-serif;
    width: 30px;
    position: absolute;
    top: -90px;
    line-height: 80px;
}

#middle {
    text-align: center;
    position: relative;
    left: 50%;
    top: 70px;
    width: 500px;
}


