body {
    margin: 0px;
    font-family: 'gt-america-extended-black-trial';
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hero-image {
    background-image: url("blue.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 50px
  }

  .box {
    position: relative;
    bottom:130px;
  }

@font-face{
    font-family: 'gt-america-extended-black-italic-trial';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
    url('webfontkit-20230310-014127/gt-america-extended-black-italic-trial-webfont.woff') format('woff'),
    url('webfontkit-20230310-014127/gt-america-extended-black-italic-trial-webfont.woff2') format('woff2'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
    }

@font-face{
    font-family: 'gt-america-extended-black-trial';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
    url('webfontkit-20230310-014127/gt-america-extended-black-trial-webfont.woff') format('woff'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
    }

    @font-face{
        font-family: 'gt-america-standard-medium-trial';
        src: url('WebFont.eot');
        src: url('WebFont.eot?#iefix') format('embedded-opentype'),
        url('webfontkit-20230310-014127/gt-america-standard-medium-trial-webfont.woff') format('woff'),
        url('WebFont.ttf') format('truetype'),
        url('WebFont.svg#webfont') format('svg');
        }

h1 {
    font-family: gt-america-extended-black-italic-trial;
}
.heading {
    height: 64px;
    width: 100%;
    position: sticky;
}

.h_button {
    position: absolute;
    left: 85%;
    top: 13px;
    
}

.logo {
    top: 20px;
    width: 100px;
    left: 30px;
    position: relative;

}
.search {
    height: 20px;
    width: 500px;
    border: 2px solid #262626;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    left: 25%;
    bottom: 13px;
    font-size: 14px;
    margin: 0;
    font-family: 'gt-america-standard-medium-trial';
}
#search-text {
    top: 20%;
    position: relative;
    color: rgb(192, 186, 186);
    left: 5px;
}

.heart {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 5px
}

#sign_up {
    background-color: #262626;
    width: 95px;
    height: 25px;
    position: absolute;
    z-index: 777;
    text-align: center;
    font-family: 'gt-america-extended-black-trial';
    top: 50%;
    font-size: 15px;
    color: whitesmoke;
    border-radius: 3px;
}

#log_in {
    color: #262626;
    width: 95px;
    height: 25px;
    position: absolute;
    text-align: center;
    font-family: 'gt-america-extended-black-trial';
    border-radius: 3px;
    left: 40px;
    top: 50%;
}

.line {
    background-color: #26262636;
    height: 1px;
    width: 100%;
}

.grid-container {
    display: grid;
    width: 20px;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    text-align: center;
  }

  .grid-item:hover {
    background-color: #262626;
    color: whitesmoke;
  }

.blue {
    position: static;
  }

#title {
    position: absolute;
    left: 15%;
    top: 230px;
    font-size: 25px;
}
#subtitle {
    position: absolute;
    left: 15%;
    top: 365px;
    font-size: 16px;
}

#influencer {
    position: absolute;
    width: 500px;
    left: 65%;
    top: 130px;
}

.first {
    top: 140px;
    left: 5%;
    position: relative;
}
p {
 font-family: gt-america-standard-medium-trial;   
}

.image-box {
    width: 300px;
    height: 300px;
    flex-grow: 0.15;
    border: 1px;
}

.section {
    position: relative;
    top: 150px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;   
}

.image-box2 {
    width: 210px;
    height: 210px;
    flex-grow: 0.15;
    border: 2px;
}

.section-2 {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 4%;
    top: -300px;   
}

#second {
    position: relative;
    top: -250px;
}
